SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...your_anon_key_here
SECRET_KEY=change-this-to-a-random-long-string
ADMIN_USERNAME=admin
ADMIN_PASSWORD=flower@123
SHOP_NAME=RMG
SHOP_ADDRESS=Near Madivalam Rd, Berigai, Tamil Nadu 635105
SHOP_PHONE=+91 98765 43210
SHOP_EMAIL=rmgflower1995@gmail.com
SHOP_GST=-
